{{#if breadcrumbs}}
<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    {{#each breadcrumbs}}
    <li {{#if @last}}class="is-active"{{/if}}>
      <a href="{{this.href}}" {{#if @last}}aria-current="page"{{/if}}>{{this.label}}</a>
    </li>
    {{/each}}
  </ul>
</nav>
{{/if}}
