<div id="v2-fields-container">
  <hr />

  <div class="block">
    <label class="label">Quirks</label>
    <p class="help mb-2">Use these to describe non-human or otherwise atypical aspects of your character.</p>
    <div class="columns is-multiline" id="quirks-list">
      {{#if character.quirks}}
        {{#each character.quirks}}
          {{> character-quirk quirk=this}}
        {{/each}}
      {{/if}}
    </div>
    <button type="button" class="button is-primary"
            hx-get="/characters/quirk" hx-target="#quirks-list" hx-swap="beforeend">Add Quirk</button>
  </div>

  <hr />

  <div class="block">
    <label class="label">Accessories</label>
    <div class="columns is-multiline" id="accessories-list">
      {{#if character.accessories}}
        {{#each character.accessories}}
          {{> character-accessory accessory=this}}
        {{/each}}
      {{/if}}
    </div>
    <button type="button" class="button is-primary"
            hx-get="/characters/accessory" hx-target="#accessories-list" hx-swap="beforeend">Add Accessory</button>
  </div>

  <hr />

  <div class="block">
    <label class="label">Ability Perks</label>
    <p class="help mb-2">Each perk is at most 25 words; max five per ability. Use the "Compounds with" picker to stack a perk onto another perk for the same ability.</p>
    <div id="perk-groups">
      {{#each character.abilities}}
        {{> character-perk-group linkValue=this.id domKey=this.id abilityName=this.name abilityPerks=../character.ability_perks}}
      {{/each}}
    </div>
    <p id="perk-groups-empty" class="has-text-grey"{{#if character.abilities.length}} hidden{{/if}}>Add at least one Class Ability above before authoring perks.</p>
  </div>
</div>
