<div class="column is-one-third">
  <div class="control">
    <div class="select">
      <select name="abilities[]" required>
        {{#each classAbilityList}}
        <option disabled>{{capitalize @key}}</option>
        {{#each this}}
        <option value="{{this}}" {{#if (eq this ../../characterAbilities)}}selected{{/if}}>{{capitalize this}}
          ({{capitalize @../key}})</option>
        {{/each}}
        {{/each}}
      </select>
    </div>
  </div>
</div>