<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="htmx-config" content='{"includeIndicatorStyles": false}'>
  <title>{{#if title}}{{title}} - Agent Resources{{else}}Agent Resources{{/if}}</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" integrity="sha384-DCY3M8xLkMu6c9IKcKbe+jHKMjelnwC0p+SBaxfHxoBYZWdJF2X400UdBCgATtAB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/lux/bulmaswatch.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha384-tGBVFh2h9Zcme3k9gJLbGqDpD+jRd419j/6N32rharcTZa1X6xgxug6pFMGonjxU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-badge/dist/bulma-badge.min.css" integrity="sha384-J1o4exYqBISH1Wufs12aErqNiZZlMNzGi4DWtwlhEnSi1P6+c04NQiTN586tBWSU" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Core scripts needed on every page -->
  <script src="https://unpkg.com/htmx.org@2.0.8" integrity="sha384-XH0Wh5Xd9VKcClmzPdg2V7kMpkD7LYDFItWBwCWwtTCzVB38r0zFbtHWm1WWz+Ye" crossorigin="anonymous" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2" crossorigin="anonymous" defer></script>
  <script src="/js/app.js" defer></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      App.init("{{supabaseUrl}}", "{{supabaseKey}}");
    });
  </script>
</head>
