<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>Agent Resources</strong>
    </a>
    <button class="navbar-burger" id="navbar-burger" role="button" aria-label="menu" aria-expanded="false" hx-on:click="const b = htmx.find('#navbar-burger'); const m = htmx.find('#navbar-menu'); htmx.toggleClass(b, 'is-active'); htmx.toggleClass(m, 'is-active'); b.setAttribute('aria-expanded', b.classList.contains('is-active')); return false;">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <div class="navbar-menu" id="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Game Info</a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" href="/classes">
            <span class="icon">
              <i class="fas fa-chess-knight"></i>
            </span>
            <span>Classes</span>
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Social</a>
        <div class="navbar-dropdown is-right">
          {{#if profile}}
          <a class="navbar-item" href="/lfg">
            <span class="icon">
              <i class="fas fa-people-group"></i>
            </span>
            <span>Looking for Game</span>
          </a>
          {{/if}}
          <a class="navbar-item" href="/characters/search">
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
            <span>Search Characters</span>
          </a>
        </div>
      </div>
      {{#if profile}}
      <a class="navbar-item" href="/characters">
        <span class="icon">
          <i class="fas fa-masks-theater"></i>
        </span>
        <span>Characters</span>
      </a>
      <a class="navbar-item" href="/missions">
        <span class="icon">
          <i class="fas fa-book"></i>
        </span>
        <span>Mission Log</span>
      </a>
      <a class="navbar-item" href="/profile" aria-label="Profile" title="Profile">
        <span class="icon">
          <i class="fas fa-user"></i>
        </span>
      </a>
      <div class="navbar-item">
        <button class="button is-light" hx-on:click="App.signOut(event)">Sign Out</button>
      </div>
      {{else}}
      <div class="navbar-item">
        <a class="button is-primary" href="/auth">Login/Signup</a>
      </div>
      {{/if}}
    </div>
  </div>
</nav>