<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>Agent Resources</strong>
    </a>
    <button class="navbar-burger" id="navbar-burger" role="button" aria-label="menu" aria-expanded="false" hx-on:click="htmx.toggleClass(htmx.find('#navbar-burger'), 'is-active');htmx.toggleClass(htmx.find('#navbar-menu'), 'is-active');return false;">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/characters/search">
        <span class="icon">
          <i class="fas fa-search"></i>
        </span>
        <span>Search</span>
      </a>
      {{#if profile}}
      <a class="navbar-item" href="/profile">Profile</a>
      <a class="navbar-item" href="/missions">Mission Log</a>
      <a class="navbar-item" href="/characters">Characters</a>
      <a class="navbar-item" href="/lfg">Looking for Game</a>
      <div class="navbar-item">
        <button class="button is-light" hx-on:click="App.signOut(event)">Sign Out</button>
      </div>
      {{else}}
      <div class="navbar-item">
        <a class="button is-primary" href="/auth">Login/Signup</a>
      </div>
      {{/if}}
    </div>
  </div>
</nav>