<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>Agent Resources</strong>
    </a>
    <button class="navbar-burger" id="navbar-burger" role="button" aria-label="menu" aria-expanded="false" hx-on:click="const b = htmx.find('#navbar-burger'); const m = htmx.find('#navbar-menu'); htmx.toggleClass(b, 'is-active'); htmx.toggleClass(m, 'is-active'); b.setAttribute('aria-expanded', b.classList.contains('is-active')); return false;">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <div class="navbar-menu" id="navbar-menu">
    <div class="navbar-end">
      {{#if navItems}}
        {{#if navItems.length}}
          {{#each navItems}}
            {{> nav-item navItem=this}}
          {{/each}}
        {{/if}}
      {{/if}}
      
      {{#if profile}}
      <a class="navbar-item {{#if (eq activeNav 'profile')}}is-active{{/if}}" href="/profile" aria-label="Profile" title="Profile">
        <span class="icon">
          <i class="fas fa-user"></i>
        </span>
      </a>
      <div class="navbar-item">
        <button class="button is-light" hx-on:click="App.signOut(event)">Sign Out</button>
      </div>
      {{else}}
      <div class="navbar-item">
        <a class="button is-primary" href="/auth">Login/Signup</a>
      </div>
      {{/if}}
    </div>
  </div>
</nav>
