# Supabase variables
SUPABASE_URL=https://DUMMYURL.supabase.co
# TODO: migrate to su_publishable_key and su_secret_key, since anon and
# service_role keys are deprecated by end of 2026.
SUPABASE_ANON_KEY=DUMMYANONKEY
SUPABASE_SERVICE_ROLE_KEY=DUMMYSERVICEROLEKEY
SUPABASE_DB_PASS=DUMMY_PASSWORD

# OpenAI API key. Parsing user provided text into game classes,
# characters, and missions will not work without a key.
OPENAI_API_KEY=sk-proj-DUMMYKEY

# System message variables
# TODO: move SYSTEM_MESSAGE_* variables to config.json or the database
# because they are not deploy-time configurations. They are used in the
# application code to display a web banner.
SYSTEM_MESSAGE_ENABLED=true
SYSTEM_MESSAGE_ID=123
# value one of: info, warning, danger, success
SYSTEM_MESSAGE_LEVEL=info
SYSTEM_MESSAGE_TEXT="Dummy message"