<!DOCTYPE html>
<html lang="en">
{{> head}}

<body hx-boost="true"y>
  {{> nav}}
  <section class="section">
    <div id="alerts" class="block"></div>
    <div class="container">
      {{{body}}}
    </div>
  </section>
</body>

</html>