<!DOCTYPE html>
<html lang="en">
{{> head}}

<body hx-boost="true" data-auth-optional="{{#if authOptional}}{{authOptional}}{{else}}false{{/if}}">
  <a href="#main-content" class="skip-to-content">Skip to content</a>
  {{> nav}}
  <section class="section" id="main-content">
    {{#if profile}}
    {{#if systemMessage}}
    {{> alert/system-banner systemMessage}}
    {{/if}}
    {{/if}}
    <div id="alerts" class="block"></div>
    <div class="container">
        {{{body}}}
    </div>
  </section>
</body>

</html>