<div class="container">
  <span class="title is-2">Checking login status.</span>
  <div class="loader is-loading"></div>
  <p>If you are not redirected, please <a href="/login">Login</a> or <a href="/signup">Sign Up</a>.</p>
</div>