<div class="container">
  <span class="title is-2">Checking login status.</span>
  <div class="loader is-loading"></div>
  <p>If you are not redirected, please <a href="/auth">Login</a>.</p>
  <script>App.checkSessionNow();</script>
</div>