{{!-- views/bot-link.handlebars --}}
<section class="section">
  <div class="container" style="max-width: 480px;">
    <h1 class="title is-4">Link your Discord account</h1>
    <p class="content">
      Enter the code shown in your Discord DM to authorize the Enclave
      Discord bot for your account.
    </p>

    {{#if error}}
      <div class="notification is-danger">{{error}}</div>
    {{/if}}

    {{#if success}}
      <div class="notification is-success">
        You're linked. You can close this tab and return to Discord.
      </div>
    {{else}}
      <form method="post" action="/link/bot/confirm">
        <div class="field">
          <label class="label" for="code">Code</label>
          <div class="control">
            <input class="input" id="code" name="code"
                   placeholder="XXXX-XXXX" autocomplete="off"
                   maxlength="9" required>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">Authorize bot</button>
          </div>
        </div>
      </form>
    {{/if}}
  </div>
</section>
