<h2 class="title is-2">Search Characters</h2>
<div class="box">
  <div class="field">
    <label class="label">Search by name</label>
    <div class="control has-icons-left">
      <input class="input" type="text" name="q" placeholder="Enter character name..." hx-get="/characters/s?count=12"
        hx-trigger="keyup changed delay:500ms, search" hx-target="#search-results">
      <span class="icon is-left">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>
</div>

<div id="search-results" class="mt-4">
  {{> character-search-results characters=[]}}
</div>