{{> breadcrumbs}}
<h2 class="title is-2">Import Class</h2>
{{#if error}}
<div class="notification is-danger">
  {{error}}
</div>
{{/if}}
<span class="tag is-warning mb-4">Note: This is an AI-powered feature and may make mistakes. Please review the
  imported class and make any necessary corrections.</span>
<form hx-post="/classes/import" class="box">
  <div class="field">
    <label class="label">Class Writeup</label>
    <div class="control">
      <textarea class="textarea" name="inputText" placeholder="Paste your class description, abilities, and gear"
        rows="10"></textarea>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button id="importClassBtn" type="submit" class="button is-primary"
        hx-on:click="htmx.addClass(htmx.find('#importClassBtn'), 'is-loading')">Import Class</button>
    </div>
  </div>
</form>
