{{> breadcrumbs}}
<div class="level">
  <div class="level-left">
    <div>
      <p class="title is-3">{{viewerTitle}}</p>
      {{!-- <p class="subtitle is-6"></p> --}}
    </div>
  </div>
  <div class="level-right">
    {{#if backUrl}}
    <a class="button is-light" href="{{backUrl}}">
      <span class="icon">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span>Back</span>
    </a>
    {{/if}}
  </div>
</div>

<div id="pdfViewer"
     class="pdf-viewer-container box"
     data-pdf-url="{{pdfUrl}}">
  <div class="pdf-viewer-toolbar buttons has-addons is-centered mb-4">
    <button class="button is-small" data-action="prev" aria-label="Previous page">
      <span class="icon"><i class="fas fa-chevron-left"></i></span>
    </button>
    <span class="button is-static is-small pdf-page-display">
      Page
      <input type="number" id="pdfPageInput" class="input is-small" min="1" value="1" aria-label="Jump to page">
      / <span id="pdfTotalPages">?</span>
    </span>
    <button class="button is-small" data-action="next" aria-label="Next page">
      <span class="icon"><i class="fas fa-chevron-right"></i></span>
    </button>
    <span class="button is-static is-small is-hidden-mobile">|</span>
    <button class="button is-small" data-action="zoom-out" aria-label="Zoom out">
      <span class="icon"><i class="fas fa-minus"></i></span>
    </button>
    <button class="button is-small" data-action="zoom-in" aria-label="Zoom in">
      <span class="icon"><i class="fas fa-plus"></i></span>
    </button>
    <button class="button is-small" data-action="fit-width" aria-label="Fit to width">
      <span class="icon"><i class="fas fa-arrows-alt-h"></i></span>
    </button>
  </div>
  <div class="pdf-viewer-canvas-wrapper">
    <canvas id="pdfCanvas" class="pdf-viewer-canvas"></canvas>
  </div>
  {{!-- <p class="help is-centered mt-3">
    Having trouble reading? Use the zoom buttons or rotate your device to landscape.
  </p> --}}
</div>

<script type="module">
  import * as pdfjsLib from 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/5.4.149/pdf.min.mjs';
  window.pdfjsLib = pdfjsLib;
  window.dispatchEvent(new Event('pdfjsReady'));
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/5.4.149/pdf_viewer.min.css">
<script src="/js/pdf-viewer.js" defer></script>

