{
  "openapi": "3.1.0",
  "info": {
    "title": "Agent Resources API",
    "version": "1.1.0"
  },
  "servers": [
    { "url": "https://agent-resources.vip/api/agent" }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Verify token; returns current user/profile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Me" }
              }
            }
          }
        }
      }
    },
    "/classes": {
      "get": {
        "operationId": "listClasses",
        "summary": "List visible classes (summary only). Fetch /classes/{id} for details.",
        "parameters": [
          { "in": "query", "name": "rules_edition", "schema": { "type": "string" } },
          { "in": "query", "name": "rules_version", "schema": { "type": "string" } },
          { "in": "query", "name": "status", "schema": { "type": "string" } },
          { "in": "query", "name": "is_player_created", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "classes": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ClassSummary" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/classes/{id}": {
      "get": {
        "operationId": "getClass",
        "summary": "Full class detail (teaser-only if locked)",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "class": { "$ref": "#/components/schemas/ClassDetail" }
                  }
                }
              }
            }
          },
          "404": { "description": "Not found" }
        }
      }
    },
    "/characters": {
      "get": {
        "operationId": "searchCharacters",
        "summary": "Search characters",
        "parameters": [
          { "in": "query", "name": "q", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/CharacterSummary" }
                }
              }
            }
          }
        }
      }
    },
    "/characters/{id}": {
      "get": {
        "operationId": "getCharacter",
        "summary": "Get a single character",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CharacterDetail" }
              }
            }
          },
          "404": { "description": "Not found" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Me": {
        "type": "object",
        "properties": {
          "user": { "type": "object", "properties": { "id": { "type": "string" } } },
          "profile": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "user_id": { "type": "string" },
              "name": { "type": "string" },
              "role": { "type": "string" }
            }
          },
          "token": { "type": "object" }
        }
      },
      "Meter": {
        "type": "object",
        "description": "A label/value pair printed beside an ability or item, e.g. Essence Cost / Mid.",
        "properties": {
          "label": { "type": "string" },
          "value": { "type": "string" }
        }
      },
      "Note": {
        "type": "object",
        "description": "A bulleted note. Nests exactly two levels: a note and its sub-bullets, no grandchildren.",
        "properties": {
          "text": { "type": "string" },
          "children": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "text": { "type": "string" },
                "children": { "type": "array", "items": {}, "description": "Always empty; the nesting stops here." }
              }
            }
          }
        }
      },
      "SignatureItem": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "category": { "type": "string", "enum": ["default", "elective"], "description": "Base or Elective roster. Advent only; Aspirant abolished the split." },
          "column": { "type": "integer", "description": "Which of the four Signature columns (1-4) this item prints in. Aspirant only." },
          "position": { "type": "integer", "description": "Position within its column (1-3). Aspirant only." },
          "meters": { "type": "array", "items": { "$ref": "#/components/schemas/Meter" } },
          "notes": { "type": "array", "items": { "$ref": "#/components/schemas/Note" } },
          "default_enchantment": {
            "type": ["object", "null"],
            "description": "The item's Default Enchantment, unlocked with Merx. Null on every Advent item; a Signature may hold only one.",
            "properties": {
              "name": { "type": "string" },
              "description": { "type": "string" },
              "dedication": { "type": ["string", "null"], "description": "An 'In Honor of ...' line printed under the name." }
            }
          }
        }
      },
      "Ability": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "paired_action": { "type": "string" },
          "pronunciation": { "type": "string", "description": "Present only on the few abilities whose writeup gives one." },
          "meters": { "type": "array", "items": { "$ref": "#/components/schemas/Meter" } },
          "notes": { "type": "array", "items": { "$ref": "#/components/schemas/Note" } },
          "sample_perks": {
            "type": "array",
            "description": "The two Sample Perks printed under an Aspirant ability. Empty on every Advent ability.",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "text": { "type": "string" },
                "dedication": { "type": ["string", "null"] },
                "compound_text": { "type": ["string", "null"], "description": "The Compounded variant, restated in full rather than as a delta. Null on the perk that has none." }
              }
            }
          }
        }
      },
      "ClassSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "teaser": { "type": "string" },
          "status": { "type": "string" },
          "rules_edition": { "type": "string" },
          "content_format": { "type": "string", "enum": ["advent", "aspirant"], "description": "Advent's two-column Signature roster vs Aspirant's four-column one" },
          "rules_version": { "type": "string" },
          "is_public": { "type": "boolean" },
          "is_player_created": { "type": "boolean" },
          "owner_profile_id": { "type": ["string", "null"] },
          "access_level": { "type": "string", "enum": ["teaser_only", "full"] },
          "unlocked": { "type": "boolean" },
          "updated_at": { "type": ["string", "null"], "format": "date-time" }
        }
      },
      "ClassDetail": {
        "allOf": [
          { "$ref": "#/components/schemas/ClassSummary" },
          {
            "type": "object",
            "properties": {
              "image_url": { "type": ["string", "null"] },
              "image_crop": { "type": ["object", "null"] },
              "base_class_id": { "type": ["string", "null"] },
              "pdf_available": { "type": "boolean" },
              "created_at": { "type": ["string", "null"], "format": "date-time" },
              "challenge_level": { "type": ["string", "null"], "enum": ["Low", "Mid", "High", null] },
              "stat_line": { "type": ["string", "null"], "description": "The stats this class favours, as printed" },
              "stat_note": { "type": ["string", "null"] },
              "quote": { "type": ["string", "null"] },
              "quote_source": { "type": ["string", "null"] },
              "overview": { "type": ["string", "null"], "description": "The class pitch" },
              "conduit_notes": { "type": ["string", "null"], "description": "How a Conduit should build a mission for this class" },
              "grounding": { "type": ["string", "null"], "description": "The real-world or genre tropes the class is grounded in" },
              "examples_heading": { "type": ["string", "null"] },
              "examples": { "type": "array", "items": { "type": "string" } },
              "tips_heading": { "type": ["string", "null"] },
              "tips": { "type": ["string", "null"], "description": "Markdown bullet list" },
              "designer": { "type": ["string", "null"] },
              "signature_gear": { "type": "array", "items": { "$ref": "#/components/schemas/SignatureItem" } },
              "abilities": { "type": "array", "items": { "$ref": "#/components/schemas/Ability" } },
              "advanced_abilities": { "type": "array", "items": { "$ref": "#/components/schemas/Ability" } },
              "expanded_tips": {
                "type": "object",
                "description": "Player and Conduit note trees, addressed to each audience separately (ENCLAVE: Aspirant, pg. 11). Empty on every Advent class.",
                "properties": {
                  "player": { "type": "array", "items": { "$ref": "#/components/schemas/Note" } },
                  "conduit": { "type": "array", "items": { "$ref": "#/components/schemas/Note" } }
                }
              }
            }
          }
        ]
      },
      "CharacterSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "class": { "type": "string" },
          "level": { "type": "integer" },
          "is_public": { "type": "boolean" },
          "is_deceased": { "type": "boolean" },
          "owner_profile_id": { "type": ["string", "null"] },
          "owner_name": { "type": ["string", "null"] }
        }
      },
      "CharacterDetail": {
        "allOf": [
          { "$ref": "#/components/schemas/CharacterSummary" },
          {
            "type": "object",
            "properties": {
              "rules_version": { "type": "string", "enum": ["v1", "v2"] },
              "stats": { "type": "object", "additionalProperties": { "type": ["integer", "null"] } },
              "traits": { "type": "array", "items": { "type": "string" } },
              "abilities": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "description": { "type": "string" }
                  }
                }
              },
              "signature_gear": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "description": { "type": "string" }
                  }
                }
              },
              "conduit_credits": { "type": "integer", "description": "v2 only" },
              "quirks": {
                "type": "array",
                "description": "v2 only",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "description": { "type": "string" }
                  },
                  "required": ["name"]
                }
              },
              "accessories": {
                "type": "array",
                "description": "v2 only",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "description": { "type": "string" }
                  },
                  "required": ["name"]
                }
              },
              "ability_perks": {
                "type": "array",
                "description": "v2 only. Each item is at most 25 words; up to 5 per class_ability_id.",
                "items": {
                  "type": "object",
                  "properties": {
                    "class_ability_id": { "type": "string", "format": "uuid" },
                    "text": { "type": "string" },
                    "position": { "type": "integer" },
                    "compounds_with": { "type": ["string", "null"], "format": "uuid" }
                  },
                  "required": ["class_ability_id", "text"]
                }
              }
            }
          }
        ]
      }
    }
  }
}
